@media screen and (max-width: 1033px) {
	#wrapper {
		width: 95%;
	}
	
}
@media screen and (max-width: 940px) {
	li.square p {
		padding-right: 40px;
	}
}
@media screen and (max-width: 940px) {
	li.square p {
		padding-right: 40px;
	}
	form input {
	font-size: 60px;
	}
	form button {
		font-size: 40px;
	}
}
@media screen and (max-width: 850px) {
	#content {
	flex-direction: column;
	}
	li.square p {
		padding-right: 0;		
	}
	.card {
		width: 70%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.card p {
	font-size: 16px;
	max-height: 36px;
	}
}
@media screen and (max-width: 420px) {
	form input {
	font-size: 35px;
	}
	form button {
		font-size: 25px;
	}
	form {
		width: 70%;
		margin: 0 auto;
		height: 50px;
	}
}